h1{
    font-family: 'Lacquer';
text-align: center;
    margin-top: 20px;
    padding:20px;
    font-size: 50px;
}



table{
    border:1px solid black;
    margin-top: 158px;
    margin-left: 260px;
    width: 150px;
    height: 150px;
    margin-bottom: 50px;
    background-color: rgb(160, 106, 134);


}
th,td{
    border:1px solid black;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;

    
}
body{
    background-color:rgb(255, 150, 134);


}
imgs{
    display: inline-block;
    width: 500px;
    height: 500px;
    /* margin-left: 500px;
    padding-left: 500px; */

}
img{
    /* padding-left: 31px;
    padding-top: 14px; */
    border: 5px solid whitesmoke;
    margin-top: 160px;
    margin-left: 92px;
    
}
li{
    font-size: 30px;
}
ul{
    list-style: none;
}
.firstdiv{
margin-top: 50px;
display: inline-block;
border: 5px solid whitesmoke;
padding: -6px;
font-family: Georgia, 'Times New Roman', Times, serif;
background-color: rgb(160, 106, 134);
margin-left: 84px;

;

}
.seconddiv{
    float:right;
    margin-top: 50px;
    border: 5px solid whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(160, 106, 134);
    margin-right: 116px;

    padding: -6px;
}
.threediv{
    display: inline-block;
    border: 5px solid whitesmoke;
    padding: -6px;
    margin-left: 84px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:hsl(0, 14%, 0%);

    background-color: rgb(160, 106, 134);



}
.forthdiv{
    float: right;
    margin-top: 17px;
    border: 5px solid whitesmoke;
    padding: -6px;
    margin-right: 510px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#000000;
    background-color: rgb(160, 106, 134);




}
.five{
    display: inline-block;
    border: 5px solid whitesmoke;
    padding: -6px;
    margin-top: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 3);
    background-color: rgb(160, 106, 134);
    margin-left: 235px;

}
#link{
    font-size: 30px;
    text-align: center;
    margin-top: 231px;
    margin-left: -6px;
}
.maindiv{
    margin-left: 10px;
}
footer{
    margin-top: 35px;
}
#form{
    /* width: 373px; */
    font-size: 20px;
    color: black;
    margin-left: 10px;
    margin-top:-569px;
    float:left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}